{{#if banners.bottom}}
<div class="banners" data-banner-location="bottom">
    <div class="banner">
        {{{limit banners.bottom 1}}}
    </div>
</div>
{{/if}}
<footer class="footer" role="contentinfo">
    <div class="footer-container">
            <div class="col-xs-12 col-12 col-sm-12 col-md-3 col-lg-push-9 col-md-push-9 newsletter-section" data-section-type="newsletterSubscription">
                <div class="newsletter-bg">
                    {{#if settings.show_newsletter_box}}
                        {{> components/common/subscription-form}}
                    {{/if}}
                    {{> components/common/social-links}}
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-lg-pull-3 col-xs-12 col-12 col-md-pull-3 middle-padding-left">
                <ul class="footer-info-list">
                    <li><a href="/contact-us/">contact us</a></li>
                    <li><a href="/account.php/">order status</a></li>
                    <li><a href="/returns-excahnges/">returns &amp; exchanges</a></li>
                    <li><a href="/shipping-information/">shipping information</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-4 col-lg-pull-3 col-xs-12 col-12 col-md-pull-3">
                <ul class="footer-info-list">
                    <li><a href="/our-story/">our story</a></li>
                    {{#if settings.gift_certificates_enabled}}
                        <li>
                            <a href="{{urls.gift_certificate.purchase}}">{{lang 'common.gift_cert'}}</a>
                        </li>
                    {{/if}}
                    <li><a href="/returns-excahnges/">pr marketing</a></li>
                    <li><a href="/shipping-information/">privacy-policy</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-4 col-lg-pull-3 col-xs-12 col-12 col-md-pull-3 middle-padding-right" data-section-type="footer-categories">
                <ul class="footer-info-list">
                    {{#each categories}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                    {{/each}}
                </ul>
            </div>
        {{#if theme_settings.geotrust_ssl_common_name}}
            <div class="footer-geotrust-ssl-seal">
                {{> components/common/geotrust-ssl-seal}}
            </div>
        {{/if}}
        {{#if theme_settings.show_copyright_footer}}
            <div class="footer-copyright">
                <p class="powered-by">&copy; {{moment format="YYYY"}} Manhattan Beach Footwear Company Design &amp; Development by Diztinct.com</p>
            </div>
        {{/if}}
</footer>
