<header class="header" role="banner">
        {{#if banners.top}}
        <div class="banners" data-banner-location="top">
            <div class="banner">
                {{{limit banners.top 1}}}
            </div>
        </div>
        {{/if}}
    <div class="header-top">
        <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
            <span class="mobileMenu-toggleIcon">Menu</span>
        </a>
        {{#if page_type '===' 'default'}}
            <h1 class="header-logo header-logo--{{theme_settings.logo-position}}">
                {{> components/common/store-logo}}
                <a href="/" class="sticky-logo">
                    <img src="/product_images/uploaded_images/mobile-logo.jpg" alt="Manhattan">
                </a>
            </h1>
        {{else}}
            <div class="header-logo header-logo--{{theme_settings.logo-position}}">
                {{> components/common/store-logo}}
            </div>
        {{/if}}
        {{{region name="header_bottom"}}}
        <div class="navPages-container" id="menu" data-menu>
            {{> components/common/navigation-menu}}
        </div>
        {{> components/common/navigation}}
    </div>
</header>
