<nav class="navUser">
    {{> components/common/currency-selector}}

    <ul class="navUser-section navUser-section--alt">
        {{#if customer.store_credit.value '>' 0}}
            <li class="navUser-item">
                <a class="navUser-action navUser-action--storeCredit"
                   data-dropdown="storeCredit-dropdown"
                   data-options="align:bottom"
                   href="{{urls.cart}}">
                        <span class="navUser-action-divider">{{lang 'common.store_credit_overview' credit=customer.store_credit.formatted}}</span>
                </a>
                <div class="dropdown-menu" id="storeCredit-dropdown" data-dropdown-content aria-hidden="true">
                    {{{lang 'common.store_credit' store_credit=customer.store_credit.formatted}}}
                </div>
            </li>
        {{/if}}
        <li class="navUser-item">
            <a class="navUser-action navUser-item--compare" href="{{urls.compare}}" data-compare-nav>{{lang 'common.compare'}} <span class="countPill countPill--positive countPill--alt"></span></a>
        </li>
        {{#if theme_settings.social_icon_placement_top}}
            <li class="navUser-item navUser-item--social">
                {{> components/common/social-links}}
            </li>
            <li class="navUser-item navUser-item--divider">|</li>
        {{/if}}
        <li class="navUser-item search">
            <a class="navUser-action navUser-action--quickSearch" href="#" data-search="quickSearch" aria-controls="quickSearch" aria-expanded="false">
             <span class="icon"><img src="{{cdn '/assets/img/search.png'}}" alt="account"/> </span><span class="name">{{lang 'common.search'}}</span></a>
            <div class="dropdown dropdown--quickSearch" id="quickSearch" aria-hidden="true" tabindex="-1" data-prevent-quick-search-close>
                {{> components/common/quick-search}}
            </div>
        </li>
        {{!--{{#if settings.gift_certificates_enabled}}
            <li class="navUser-item">
                <a class="navUser-action" href="{{urls.gift_certificate.purchase}}">{{lang 'common.gift_cert'}}</a>
            </li>
        {{/if}}--}}
        <li class="navUser-item navUser-item--account">
            <a class="navUser-action" href="{{urls.account.index}}"> <span class="icon">
                <img src="{{cdn '/assets/img/user.png'}}" alt="account"/>
            </span> <span class="name">{{lang 'common.account'}}</span></a>
            <ul class="dropdown">
                <li>
                    {{#if customer}}
                        <a class="navUser-action" href="{{urls.account.index}}">{{lang 'common.account'}}</a>
                        <a class="navUser-action" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>
                    {{else}}
                        <a class="navUser-action" href="{{urls.auth.login}}">{{lang 'common.login'}}</a>
                        {{#if settings.account_creation_enabled}}
                           <a class="navUser-action" href="{{urls.auth.create_account}}"> <span class="navUser-or"> {{lang 'common.or'}} </span>  {{lang 'common.sign_up'}}</a>
                        {{/if}}
                    {{/if}}
                </li>
                <li><a href="">order status</a></li>
                <li><a href="">Wishlist</a></li>
            </ul>
        </li>
        <li class="navUser-item navUser-item--cart">
            <a
                class="navUser-action"
                data-cart-preview
                data-dropdown="cart-preview-dropdown"
                data-options="align:right"
                href="{{urls.cart}}">
                <span class="icon">
                    <img src="{{cdn '/assets/img/bag.png'}}" alt="account"/>
                </span> <span class="navUser-item-cartLabel name">{{lang 'common.cart'}}</span> <span class="countPill{{#if cart.items}} countPill--positive{{/if}} cart-quantity">{{cart.quantity}}</span>
            </a>

            <div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content aria-hidden="true"></div>
        </li>
    </ul>
</nav>
