@mixin transform($transform){
    transform: $transform;
    -webkit-transform: $transform;
    -moz-transform: $transform;
}
.header{
    float:left;
    width:100%;
    position:fixed;
    left:0;
    top:0;
    .sticky-logo{
        @media(max-width:767px){
            display:block !important;
        }
    }
    .main-logo{
        @media(max-width:767px){
            display:none;
        }
    }
}
.header-top{
    display:block;
    margin:0 auto;
    width:100%;
    max-width:1680px;
    padding:0 20px;
    .header-logo{
        margin:0;
        float:left;
        @media(min-width:768px){
            width:auto;
            padding:0 20px;
            .header-logo-image{
                margin:10px 0;
                position:relative;
            }
            .header-logo-image-container::after{
               content:none;
            }
        }
        @media(max-width:767px){
            width:30%;
        }
    }
    .mobileMenu-toggle{
        width:10%;
        position:relative;
        float:left;
    }
    #menu{
        @media(min-width:768px){
            width:45%;
            padding:18px 0;
            .navPages{
                text-align:left;
                .navPages-action{
                    font-weight:normal;
                    font-size:14px;
                    padding:10px 12px;
                    line-height:1;
                    &:hover{
                        opacity:1;
                        text-decoration:none;
                    }
                }
            }
        }
        float:left;
    }
    .navUser{
        float:right;
        @media(min-width:768px){
            width:35%;
            padding:18px 0;
            .navUser-item--account{
                &:hover{
                    .dropdown{
                        display:inline-block;
                        &::before{
                            content:"";
                            top:-9px;
                            left:22px;
                            background-image:url('../img/top-arrow.png');
                            background-repeat: no-repeat;
                            background-size:contain;
                            width:16px;
                            height:16px;
                            position:absolute;

                        }
                    }
                }
                .dropdown{
                    display:none;
                    position:absolute;
                    width:200px;
                    max-width:unset;
                    z-index:2;
                    background:#fff;
                    top:100%;
                    left:-25px;
                    right:auto;
                    border:1px solid #e5e5e5;
                    padding:0;
                    li{
                        padding:0 20px;
                        border-bottom:1px solid #e5e5e5;
                        text-align:left;
                        &:last-child{
                            border-bottom:none;
                        }
                    }
                    a{
                        text-transform:uppercase;
                        padding:12px 0px;
                        display:inline-block;
                        span{
                            margin:0;
                        }
                    }
                }
            }
        }
        @media(max-width:767px){
            width:60%;
            float:left;
            top:0;
            @include transform(translateY(0));
            position: relative;
            padding:10px 0;
        }
        > ul{
            position:relative;
            width:100%;
            text-align:right;
            > li{
                float:none;
                display:inline-block;
            }
        }
        .navUser-item{
            padding:0;
            position:relative;
            padding:0;
            span.icon{
                width:14px;
                height:20px;
                position:absolute;
                top:50%;
                left:0px;
                margin-top:-10px;
            }
            a{
                font-size:14px;
                line-height:1;
                font-weight:normal;
                padding:10px 20px 10px 25px;
                position:relative;
                &:hover{
                    text-decoration:none;
                }
            }
            @media(max-width:992px){
                span.name{
                    display:none;
                }
            }
        }
    }
}
.body{
    float:left;
    width:100%;
    margin-top:0;
    .heroCarousel{
        margin-top:0;
    }
}
body{
    display:inline-block;
    width:100%;
    padding-top:70px;   
}
.header .sticky-logo{
    display:none;
    padding:10px 0;
    text-align:left;
    img{
        max-height:50px;
    }
}
.header.sticky-header {
    .sticky-logo{
        display:block;
    }
    .main-logo{
        display:none;
    }
}
#quickSearch{
    background:transparent;
    padding:0;
    top:0;
    right:100% !important;
    left:auto !important;
    margin-right:-10px;
    opacity:0;
    input{
        border-radius:0;
        background:#eee;
    }
}