// =============================================================================
// GRID (CSS)
// =============================================================================


.container {
    // margin-left: auto;
    // margin-right: auto;
    // max-width: layout("max") + ($container-padding * 4);
    // padding: 0 $container-padding;
    // position: relative;
    // width: layout("fixed");

    // @include breakpoint("large") {
    //     padding: 0 ($container-padding * 4);
    // }
}
