// =============================================================================
// FOOTER (CSS)
// =============================================================================


// Layout and columns
// -----------------------------------------------------------------------------
//
// 1. To enable the grid's display: inline-block; to work properly, we need to
//    remove the white-space that it creates between columns with font-size: 0;
// 2. Re-set the font-size that was reduced to 0 in point 1 for children.
//
// -----------------------------------------------------------------------------

.footer {
    background-color: $footer-background;
    display: inline-block;
    //border-top: container("border");
    //padding: spacing("double") 0;
    padding: 40px 0 20px;
        @media(max-width:991px){
            background:transparent;
        }
}

.footer-info {
    @include grid-row($behavior: nest);
    font-size: 0; // 1
}

.footer-info-col {
    @include grid-column(12);
    color: stencilColor("color-textSecondary");
    display: inline-block;
    float: none;
    font-size: fontSize("base"); // 2
    margin-bottom: spacing("double");
    text-align: center;
    vertical-align: top;

    @include breakpoint("small") {
        text-align: left;
        width: width("6/12");
    }

    @include breakpoint("medium") {
        width: width("4/12");
    }

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.footer-info-col--small {
    @include breakpoint("medium") {
        width: width("2/12");
    }
}

.footer-info-col--social {
    width: 100%;
}

.footer-info-col--left {
    @include breakpoint("small") {
        padding: 0;
    }
}

.footer-info-col--right {
    @include breakpoint("small") {
        left: 50%;
        position: inherit;
    }

    @include breakpoint("medium") {
        left: 0;
        padding: 0;
        text-align: right;
    }
}


// Content
// -----------------------------------------------------------------------------

.footer-info-heading {
    color: $footer-heading-fontColor;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 0 20px;
}

.footer-info-list {
    list-style: none;
    margin-left: 0;
    padding-bottom: 30px;
        @media(max-width:767px){
            padding-bottom:15px;
            text-align:center;
        }

    a {
        color: stencilColor("color-textSecondary");
        text-decoration: none;

        // scss-lint:disable NestingDepth
        &:hover {
            color: stencilColor("color-textSecondary--hover");
        }
        // scss-lint:enable NestingDepth
    }
}

.footer-copyright {
    text-align: center;
    padding:0 15px;
    line-height: 25px;
    display: inline-block;
    width: 100%;

    > .powered-by {
        color: #bababa;
        font-size: fontSize("tiny");
        margin: 0;
    }

    a {
        color: stencilColor("color-textSecondary");
        text-decoration: none;

        // scss-lint:disable NestingDepth
        &:hover {
            color: stencilColor("color-textSecondary--hover");
        }
        // scss-lint:enable NestingDepth
    }
}

.footer-payment-icons {
    height: remCalc(40);
    margin-top: spacing("single");

    @include breakpoint("medium") {
        margin-top: spacing("double");
    }

    .footer-payment-icon {
        height: 100%;
        margin: spacing("quarter");
        vertical-align: middle;
        width: remCalc(50);
    }

    svg {
        fill: stencilColor("icon-color");
    }
}

.footer-geotrust-ssl-seal {
    @include breakpoint("small") {
        bottom: 0;
        position: absolute;
        right: 16px;
    }

    table {
        margin: auto;
    }
}

.footer-newsletter-summary {
    text-align: left;
}

//custom footer scss
footer{
    .footer-info-list{
        margin-bottom:0;
            li{
                a{
                    font-size:stencilNumber("fontSize-root");
                    text-transform: uppercase;
                    padding-bottom: 15px;
                    display: inline-block;
                }
                &:last-child a{
                    padding-bottom:0;
                }
            }
    }
    .footer-container {
        max-width: 1400px;
        display: block;
        width: 100%;
        margin: 0px auto;
    }
    .socialLinks{
        margin:0;
        line-height: normal;
        li.socialLinks-item{
            line-height:normal;
            margin:0;
                a.icon{
                    width: auto;
                    height: auto;
                    font-size: 20px;
                    margin: 0 10px;
                    color: #535353;
                }
        }
    }
    .newsletter-section{
            @media(max-width:991px){
                text-align:center;
                padding-top:30px;
                width:100%;
                background-color:$footer-background;
                margin-bottom:30px;
            }
            @media(min-width:481px) and (max-width:991px){
                padding:30px 40px;
            }
            @media(max-width:480px){
                padding:30px 20px;
            }
    }
    .middle-padding-left{
        @media(min-width:768px) and (max-width:991px){
            padding-left:40px;
        }
    }
    .middle-padding-right{
        @media(min-width:768px) and (max-width:991px){
            padding-right:40px;
        }
    }
    .newsletter-bg{
        background-color:$footer-background;
    }
}
//newsletter
.newsletter-footer{
    display: inline-block;
    overflow: hidden;
    margin-bottom:0;
    width:100%;
    .mailbox-wrap{
        border:1px solid #bababa;
        max-width: 800px;
        margin: 0px auto;
        .button{
            margin: 0;
            border-right: none;
            background: #fff;
            border-top: none;
            border-bottom: none;
            border-radius: 0;
            border-color:#bababa;
            height: 40px;
            color:#000000;
            text-transform: uppercase;
            font-size:stencilNumber("fontSize-root");
            padding: 0 15px;
            max-width:100px;
            font-weight:bold;
        }
        #nl_email{
            height: 40px;
            border-radius:0;
            height:40px;
            border:none;
            font-size:stencilNumber("fontSize-root");
            flex-grow: 1;
            min-width: 0;
                &::placeholder {
                    color:#535353;
                    opacity: 1;
                }
                :-ms-input-placeholder { 
                    color: #535353;
                    opacity: 1;
                }
                
                ::-ms-input-placeholder { 
                    color: #535353;
                    opacity: 1;
                }
        }
    }
}